<div class="login-page">
  <div class="form">
    <form class="login-form" (keydown.enter)="loginForm.form.valid" #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
      <input type="text" placeholder="username" [(ngModel)]="username" name="username" #ng_username="ngModel" required #spy>
        <div [hidden]="ng_username.valid || ng_username.pristine"
             class="text-valid">
          Username is required
        </div>
      </div>
      <div class="form-group">
      <input type="password" placeholder="password" [(ngModel)]="password" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
       name="password" #ng_password="ngModel" required #spy>
        <div [hidden]="ng_password.valid || ng_password.pristine"
             class="text-valid">
             Minimum eight characters, at least one letter and one number.
        </div>
      </div>
      <button type="submit" [hidden]="!loginForm.form.valid" >login</button>
      <p class="message">Not registered? <a  routerLink="/signup">Create an account</a></p>
    </form>
  </div>
</div>
