<div class="signup-page">
<div class="form">
    <form class="signup-form" (keydown.enter)="signupForm.form.valid" #signupForm="ngForm" (ngSubmit)="signup()">
      <div class="form-group">
      <input type="text" placeholder="username" [(ngModel)]="username" name="username" #ng_username="ngModel" required #spy>
        <div [hidden]="ng_username.valid || ng_username.pristine"
             class="text-valid">
          Username is required.
        </div>
      </div>
      <div class="form-group">
        <input type="text" placeholder="email" [(ngModel)]="email" pattern="\b[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}\b"
         name="email" #ng_email="ngModel" required #spy>
          <div [hidden]="ng_email.valid || ng_email.pristine"
               class="text-valid">
               Email is incorrect.
          </div>
        </div>
      <div class="form-group">
      <input type="password" placeholder="password" [(ngModel)]="password" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
       name="password" #ng_password="ngModel" required #spy>
        <div [hidden]="ng_password.valid || ng_password.pristine"
             class="text-valid">
             Minimum eight characters, at least one letter and one number.
        </div>
      </div>
      <div class="form-group">
        <input type="password" placeholder="pre password" [(ngModel)]="pre_password" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
         name="pre_password" #ng_prepassword="ngModel" required #spy>
          <div [hidden]="ng_password.value == ng_prepassword.value || ng_password.valid || ng_password.pristine "
               class="text-valid">
               Pre-password not match.
          </div>
        </div>
      <button type="submit" [hidden]="!signupForm.form.valid" >Sign Up</button>
    </form>
  </div>
</div>